[user]
  name = Emiel Van Severen
  email = 35073890+emielvanseveren@users.noreply.github.com
  username = emielvanseveren
  signinkey = CBF6D963

[core]
  pager = delta
  editor = nvim

[github]
  user = emielvanseveren

[credential]
  helper = cache

[commit]
  # Configure gpg to sign all commits
  gpgsign = true      

[push]
  default = tracking        
  autoSetupRemote = true

[pull]
  rebase = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[includeIf "gitdir:~/code/uni/uni_projects"]
  path = ~/.gitconfig-uni

[mergetool "nvimdiff4"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[merge]
  tool = nvimdiff4
  prompt = false

[gpg]
	program = /usr/bin/gpg

