[user]
  name = Emiel Van Severen
  email = 35073890+emielvanseveren@users.noreply.github.com
  username = emielvanseveren
  signinkey = CBF6D963

[github]
  user = emielvanseveren

[commit]
  # Configure gpg to sign all commits
  gpgsign = true      

[push]
  default = tracking        
  autoSetupRemote = true

[pull]
	rebase = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[includeIf "gitdir:~/code/uni/uni_projects"]
	path = ~/.gitconfig-uni
[gpg]
	program = /usr/bin/gpg

