#!/bin/sh

# sourced at boot by ~/.xinitrc and most display managers

export XDG_CONFIG_HOME="$HOME/.config"
export PATH="$HOME/.local/bin:$PATH"

picom -b --experimental-backends --no-use-damage &
xrandr --output DP-4 --mode 3440x1440 --primary --output DP-2 --mode 1920x1080 --output DP-2 --left-of DP-4

# We cannot launch polybar here because polybar has an i3 module (depends on i3) 
# This script is
# $HOME/.config/polybar/launch.sh &

nm-applet &
flameshot &
dunst & 
volumeicon &
xfce4-power-manager &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
gnome-keyring-daemon --start --components=pkcs11 &
ksuperkey -e 'Super_L=Alt_L|F1' &
ksuperkey -e 'Super_R=Alt_L|F1' &
xset dpms 600 900 1200
xset r rate 350 60

