@define-color background rgb(20, 20, 20);
@define-color text rgb(200, 200, 200);

* {
  border: none;
  border-radius: 0;
  font-family: "MonaSpace Neon";
  min-height: 20px;
  padding: 3px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 10px;
  background: @background;
}

#workspaces button {
  color: #7c818c;
  background: transparent;
  padding: 5px;
  font-size: 15px;
}

#workspaces button.active,
#workspaces button.focused {
  color: #ffffff;
}

#workspaces button:hover {
  color: #ffffff;
}

#clock {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  color: @text;
  background: @background;
}

#network {
  border-radius: 10px 0 0 10px;
}

#battery {
  border-radius: 0 10px 10px 0;
}

#network,
#pulseaudio,
#pulseaudio.microphone,
#backlight,
#custom-power-profile,
#cpu,
#memory,
#battery {
  color: @text;
  background: @background;
  padding-left: 10px;
  padding-right: 10px;
}

#battery.critical {
  background: red;
}

#battery.warning {
  background: orange;
}
