* {
    border: none;
    border-radius: 0;
    font-family: "MonaSpace Neon";
    min-height: 20px;
    padding: 3px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 10px;
    transition: none;
    background: #383c4a;
}

#workspaces button {
    color: #7c818c;
    background: transparent;
    padding: 5px;
    font-size: 15px;
}

#workspaces button.persistent {
    color: #7c818c;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #383c4a;
}

#workspaces button.focused {
    color: white;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#cpu {
  color: #ffffff;
  background: #383c4a;
  border-radius: 10px 0 0 10px;
  padding-left: 16px;
  padding-right: 8px;
}

#memory {
  color: #ffffff;
  background: #383c4a;
  border-radius: 0 10px 10px 0;
  padding-right: 16px;
  padding-left: 16px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

